body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/sun-pattern.png');
    background-color: whitesmoke;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Serif', serif;
}

footer {
    background-image: url(https://raw.githubusercontent.com/kratuvwxyz/assets2/master/images/background/pattern/confectionary.png);
    background-color: khaki;
}