body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/sun-pattern.png');
    background-color: whitesmoke;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'IBM Plex Serif', serif;
}

#footer {
    background-image: url('../images/background/confectionary.png');
    background-color: khaki;
    padding-top: 20px;
}

#footer li {
    float: left;
    list-style: none;
    margin-right: 20px;
}
